@import './vendors';
@import './vars';

@import './base';

@import './search-form';
@import './magnifying-glass';

.gallery {
  font-size: 12px;
  margin: 0 auto;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
  padding: 15px;
  justify-content: center;
  background-color: #fafafa;
}

.photo-card {
  background-color: #fff;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 4px 2px 2px #999696;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e6e6e6;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.gallery__link {
  text-decoration: none;
  color: inherit;
}

.gallery__item {
  text-decoration: none;
  color: #5a6a7d;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 3px 3px rgba(10, 5, 20, 0.06),
    1px 4px 6px rgb(0 0 0 / 16%);

  transition: all 0.25s;
}

.gallery__item:hover,
.gallery__item:focus {
  transform: scale(1.03);
  cursor: pointer;
}

.gallery {
  overflow-y: scroll;
}
.gallery::-webkit-scrollbar {
  width: 10;
}
